.btn{
	position: relative;
    top: 20px;
    border: none;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    background-color: #B34985;
    color: white;

}
.example-full-width {
  width: 50%;
}