<form (ngSubmit)="onClick()">
<div style="text-align:center">
  <h1>
    Login!
  </h1>
    <input  placeholder="Email" type="email" name="text" [(ngModel)]="User.email">
  <br>
  <button  class="btn" (click)="onClick()">Submit</button>
  <br>
  <br>


</div>
</form>