.btn1{
	position: relative;
	top: 75px;
    border: none;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    left: 150px;
    font-weight: bold;
    background-color: #B34985;
    color: white;

}
.btn2{
	position: relative;
    border: none;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    left: -190px;
    font-weight: bold;
    background-color: #B34985;
    color: white;

}