<form (ngSubmit)="addCasher()">
<div style="text-align:center">
	<h1>Owner</h1>
	<div class="form-group">
  <label for="names">Select Name</label>
  <select class="form-control" [(value)]='selected' required (click)='test()'>
    <option value="am">AmieraHassoun</option>
    <option value="qa">QaysTrad</option>
    <option value="ta">TalOmari</option>
    <option value="al">AlaaMigady</option>
  </select>
</div>
<p>You selected: {{selected}}</p>
</div>
</form>