<form (ngSubmit)="onClick()">
<div style="text-align:center">
  <h1>
    Cashier !
  </h1>
    <input placeholder="Cost" type="text" name="password" [(ngModel)]="change.cost">

    <input placeholder="Paid" type="text" name="text" [(ngModel)]="change.payment">
  
  <h3>The Change : {{chan}}</h3>
  <br>
  <button class="btn" (click)="onClick()">Calculate</button>
  <br>
  <br>
  <button class="btn" (click)="onClick()">Save</button>
  <br>
  <br>

</div>
</form>